html,
body {
  background-color: #22272e;
  font-family: 'Open Sans', sans-serif;
}

.content {
  background-color: transparent;
  color: #c5d1de;
  margin: 0 auto;
  width: 100%;
  padding: 0 1.75rem;
  max-width: 1230px;
  min-height: calc(100vh - 175px);

  &__boxes {
    gap: 1.75rem;
    height: 100%;
  }

  &__box {
    border: 1px solid #444c56;
    border-radius: 5px;
    background-color: transparent;
    max-width: 373px;
  }

  &__heading {
    background-color: #2d323b;
    border-bottom: 1px solid #444c56;
    border-radius: 5px 5px 0 0;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #c5d1de;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
  }
}
